@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(../font/raleway.woff2) format('woff2');
}

html {
  margin: 50px;
}

tr#communes:nth-child(even) {
  background-color: #eeeeee;
}

tr:hover {
  background-color: rgba(249, 178, 0, 0.25);
}
